/bin/
/obj/
**/bin/
**/obj/
/dist/
*.exe
*.dll
*.pdb
*.zip

config.xml
spotify.auth
*.status
*.log
*.log.previous
/local/
/work/
/driver/
zadig*.exe
zadig.ini
*.inf
*.cat
*.sys

.vs/
.vscode/
*.user
*.suo
Thumbs.db
Desktop.ini
